<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Платеж успешно совершен</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="p-4 bg-light text-center">
        <h1>Платеж успешно совершен</h1>
        <a class='btn btn-secondary' href="/">На главную</a>
    </div>
</body>
</html>
